<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <!--<div id="logo">-->
        <!--<a href="/">-->
          <!--<img matTooltip="{{'Welcome to Drunker Land!' | translate}}" [matTooltipPosition]="'below'" src="assets/images/logo.svg">-->
        <!--</a>-->
      <!--</div>-->
      <div fxFlex="40">
        <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
          {{item.name | translate | uppercase}}
        </a>
      </div>
      <div fxFlex="40" class="text--right">
        <!--<app-search-bar></app-search-bar>-->
        <!--<button mat-icon-button [matMenuTriggerFor]="matmenu">-->
          <!--<mat-icon>public</mat-icon>-->
        <!--</button>-->
        <a *ngIf="!log" mat-raised-button routerLink="{{loginUrl}}">
          LOGIN
        </a>
        <a *ngIf="!log" mat-raised-button routerLink="{{registerUrl}}">
          REGISTER
        </a>

        <a *ngIf="log" mat-raised-button (click)="logout()">
          LOG OUT
        </a>
        <!--<a class="icon__image" href="{{appConfig.repositoryURL}}" target="_blank">-->
          <!--<img src="assets/images/user.svg">-->
        <!--</a>-->
        <!--<a class="icon__image" href="{{appConfig.repositoryURL}}" target="_blank">-->
          <!--<img src="assets/images/shopping-cart.svg">-->
        <!--</a>-->
      </div>
    </div>
  </nav>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
    </mat-progress-bar>
  </section>
</header>
