/* You can add global styles to this file, and also import other style files */

html,body{height: 100%;}
body {
  font-size: 12px;
  line-height: 1.5;
  color: #141414;
  background-color: #dfe9f1;
  position: relative;
  font-family: Open Sans, arial, sans-serif;
}

a {
  color: #1e78ff;
  cursor: pointer;
}
a:hover {
  color: #32bcff;
  text-decoration: none;
}

/*public class*/
.no-padding {padding: 0 !important;}
.no-margin {margin: 0 !important;}
.marginRight20 {margin-right: 20px !important;}
.marginLeft10 {margin-left:10px !important;}
.marginRight10 {margin-right:10px !important;}
.marginRight0 {margin-right:0 !important;}
.marginTop10 {margin-top: 10px!important;}
.marginTop20 {margin-top: 20px!important;}
.padding-l0 {padding-left: 0 !important;}
.padding-r0 {padding-right: 0 !important;}
.paddingTop10 {padding-top: 10px!important;}
.padding-lr15 {padding:0 15px;}
.padding-tm20 {padding-top:20px;padding-bottom:20px;}
.padding20-40 {padding:20px 40px;}
.marginBottom0 {margin-bottom: 0!important;}

.btn-primary{
  color: #fff;
  background-color: #3a89ff;
  border-color: #3a89ff;
}

/*panel*/
.panel-section {
  position: relative;
  min-height: 200px;
  padding: 0;
  margin-top: 10px;
}
.panel-section .panel-hd {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  color: #636161;
  background: #fff;
  margin: 0 0 0 0;
  padding-left: 10px;
  font-style: normal;
  font-weight: 600;
}
.panel-section .panel-hd .btn {
  padding: 8px 3px 4px 5px;
  outline: none;
}
.panel-section .panel-hd em {
  font-size: 18px;
  color: #fcc143;
  font-style: normal;
  margin: 0 10px;
  display: inline-block;
}

/*table*/
.table-wrap {
  width: 100%;
  overflow: auto;
}
.table {
  color: #141414;
  margin-bottom: 0;
}
.table thead tr th {
  color: #1e78ff;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd;
}
.table tbody tr td {
  padding: 8px;
  font-size: 12px;
  border-top: transparent !important;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.table tbody tr.select {
  color: #1e78ff;
}

/*form*/
input[type='text'] {
  border: 1px solid #ccc;
  color: #419cff;
  border-radius: 1px;
}
label{font-weight: normal;}

.operate-btns .btn {padding: 2px 8px;}
.inline-form-control {
  display: inline-block;
  width: 40%;
}

