<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <h1 class="header__title">{{'topWines' | translate}}</h1>
    <app-main-nav (searchWines) = "onSearch($event)"></app-main-nav>
    <app-wine-loading *ngIf="!wines"></app-wine-loading>
    <div id="wines-list" *ngIf="wines" [@fadeInOut]>
      <ng-container *ngFor="let wine of wines">
        <app-wine-card [wine]="wine"></app-wine-card>
      </ng-container>
    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
